body {
    margin: 50px;
    font-family: Arial;
    font-size: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex-grow: 1;
}


button:hover {
    background-color: #bdd8ff;
}

button {
    padding: 15px 30px;
    background-color: #abceff;
    box-shadow: 0 9px #999;
    border: none;
    outline: none;
    font-family: Arial;
    font-size: 20px;
}

button:active {
    background-color: #829dc4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.disable-dbl-tap-zoom {
    touch-action: manipulation;
}